* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
 
}
.wrapper{
    border: solid 2px red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 500px;
    height: 500px;
    margin: auto;
}
.title{
    border: solid 2px green ;
    height: 40px;
    width: 100%;    
    text-align: center;
    align-items: center;
    /* z-index: 1; */
}

h1{
    font-family:  Georgia;
}

.calculator{
    margin: 0 auto;
    width: 500px;
    height: 100%;
    border: solid 2px blue;
    /* z-index: 2; */
}

.problem{
    background-color:  purple;
    width: 100%;
    height: 50%;
    padding-left: 20px;
}

.result{
    background-color:  yellowgreen;
    width: 100%;
    height: 50%;
}


label, input{
    text-align: right;
    font-family: Georgia;
    font-size: large;
    margin-bottom: 30px;
    
}

#calculate{
    width: 90px;
    height: 30px;
    color: white;
    background-color: red;
    border-radius: 14.5%;
}

#result{
    font-family: Georgia;
    font-size: large;
}