@font-face {
    font-family: 'LoraMedium';
    src: url(../Fonts/Lora-Medium.ttf);
}
@font-face {
    font-family: 'LoraReg';
    src: url(../Fonts/Lora-Regular.ttf);
}
@font-face {
    font-family: 'LoraBold';
    src: url(../Fonts/Lora-Bold.ttf);
}
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* background-color: aquamarine; */
    margin: 0 auto;
    height: 100%;
    width: 100%;
    /* background-image: url(../images//better\ background.jpg); */
    background-size: cover;
    background-repeat: repeat;
}
#thumbnail{
    background-color: white;
    width: 250px;
    height: 400px;
    display: none;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;
    
}
header{
    font-size: 30px;
    font-family: LoraBold;
}
input{
    font-size: 25px;
    width: 600px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
}
button{
    font-family: LoraBold;
    font-size: 30px;
    text-align: center;
    width: 600px;
    height: 45px;
    border-radius: 29px;
    margin: auto;
    justify-content: center;
}
h2, p{
    /* color: red; */
    font-family: LoraReg;
    margin-bottom: 20px;
}
