* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px;
 font-family: 'Courier New';
}

.click{
    margin: 0 auto;
    /* background-color: green; */
    height: 200px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}
.click button{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    height: 50px;
}
.click span{
    margin: auto;
}